/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic Styles */
.sidebar {
  width: 20%; /* Sidebar takes 20% of the screen */
  background-color: white;
  color: black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transition: width 0.3s, padding 0.3s; /* Transition for width and padding */
  overflow-y: auto; /* Add vertical scroll */
  outline: 2px solid red; /* Just for visualization */
}

.sidebar.hide-names {
  width: auto; /* Adjust width when names are hidden */
}

.sidebar-title {
  display: flex;
  align-items: center;
}

.sidebar-title .toggle-button {
  margin-right: 0.5rem;
}

.sidebar h2 {
  margin: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 1rem 0;
}

.sidebar a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  transition: background 0.3s, border-radius 0.3s, padding 0.3s; /* Transition for padding */
}

.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar a:hover {
  background: #007BFF;
  color: white;
  border-radius: 1rem;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 5%; /* Narrow width for smaller screens */
  }

  .sidebar.hide-names {
    width: 5%; /* Ensure width stays consistent when names are hidden */
  }

  .sidebar ul li {
    display: none; /* Hide list items */
  }

  .sidebar ul li.active {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
  }

  .sidebar h2 {
    display: none; /* Hide "Task Manager" text on smaller screens */
  }
}
